@{
    ViewBag.Title = "Yhteystiedot";
}
<h2>@ViewBag.Title.</h2>


<address>
    Kouvola<br />
    Kokkomäentie<br />
    <abbr title="Puhelin">P:</abbr>
    +358(0)40 3287776
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:tommi.lipponen@student.careeria.fi">tommi.lipponen@student.careeria.fi</a>    
</address>