@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TILAUS Sln</h1>
    <p class="lead">Tilaus Sln on Windows- pohjainen relaatiotietokannan käyttämiseen tehty sovellus joka soveltuu sekä paikalliseen ympäristöön että pilviratkaisuksi, kaikille yrityksille kokoon katsomatta.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>MIKÄ SE ON?</h2>
        <p>
            Tilaus Sln on helppokäyttöinen, turvalliseen ja luotettavaan Microsoftin MVC tekniikkaan perustuva ohjelma.
        </p>       
    </div>
    <div class="col-md-4">
        <h2>MITÄ SE TEKEE?</h2>
        <p>Tilaus Sln hakee, yhdistelee ja muokkaa käyttäjän haluamia tietoja tietokannasta ja esittää ne selkeässä muodossa alkuperäisiä merkintöjä vaarantamatta.</p>       
    </div>
    <div class="col-md-4">
        <h2>KUKA TARVITSEE?</h2>
        <p>Tilaus Sln soveltuu kaikille käyttäjille jotka haluavat nopeuttaa ja selkeyttää tietokannaan käyttöä sekä varmistaa sen eheänä pysymisen. </p>      
    </div>
</div>